fastapi
uvicorn
pydantic
pillow
pytesseract
langchain
langchain-community
langchain-huggingface
chromadb
openai
selenium
webdriver-manager
HEAD
sentence-transformers
7f81b14e773162fed47e3fb3422377a9c06b7baa
